body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtPTzHqyfdwWG06zzE1Sbd_c5N00XylfZCHg&usqp=CAU');
    background-size: cover; /* Ajusta la imagen para que cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen al fondo */
}

.card {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
}

.card-body {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: #ee3f09;
}

h2 {
    margin-bottom: 1rem;
}
footer {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.75rem;
    width: 100%;
    text-align: center;
}

#temperatureResult, #daysResult, #numbersResult {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.75rem;
    width: 100%;
}